#header {
  background: transparent;
  position: absolute;
  z-index: 994;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: top fixed;
}
a {
  text-decoration: none;
}
.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.list li {
  color: white;
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
}
.drop-down li {
  display: block;
  text-align: center;
}
.drop-down {
  width: 10%;
  margin-top: 1.5rem;
  display: none;
  position: absolute;
  z-index: 995;
  border-radius: 10px;
  background-color: rgba(251, 253, 253, 0.119);
  padding: 10px;
}
ul li:hover ul.drop-down {
  display: block;
}
.mob-navbar {
  margin-top: 3%;
  display: block;
  text-align: center;
}
.mob-navbar svg:hover {
  color: rgb(255, 170, 0);
}
.mob-list {
  padding: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.466);
  border-radius: 20px;
}
.mob-list li {
  list-style: none;
  padding: 0.5rem;
  color: white;
}
.mob-list li:hover {
  color: rgb(255, 170, 0);
}
.mob-drop-down {
  display: none;
  border-radius: 10px;
  background: transparent;
  padding: 10px;
}
ul li:hover ul.mob-drop-down {
  display: block;
}

.list li:hover {
  color: rgb(255, 170, 0);
}
@media (max-width: 768px) {
  .navbar {
    display: none;
  }
}
@media (min-width: 768px) {
  .mob-navbar {
    display: none;
  }
}
